<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Cuddles</title>
</head>
<body>
    <style>

        * {
            margin: 0;
            font-family: Arial;
        }

        .cuddles-picture {
            align-items: center;
            margin-left: 8px;
            border-color: aqua;
            margin-top: 8px;
        }
    </style>

    <div>
        <img oncontextmenu="return false;" class="cuddles-picture" src="https://lh5.googleusercontent.com/eCdoq9qGXPgLcJ5NRFoZ-OBInXRviS7l-RhMCXuVvgefB_wvuutjtCR1dTmnweSa9xU=w2400" height="300px" width="1800px">
    </div>
</body>
</html>