<!--This is the document about hope-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Hope</title>
</head>
<body>
    <div>
        <img oncontextmenu="return false;" class="hope-picture" src="https://lh3.googleusercontent.com/aDVCs6NrZIO5r_gXZt65WMrZqgCPm8a4x7RcBRt4uaMWjoRyy8sJXCrDnSVrBtfnCR6yHaY4M8jkT8fFRnJcCEdtih7rSPsqqQfePVwgJXlQ6mkix2z-yqiwinBnd6F7iccIJT8zCQ=w2400" height="300px" width="1800px">
    </div>

    <style>

    </style>

    <script>
        
    </script>
</body>
</html>
